<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
		<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0" />
    <link rel='stylesheet' href='/css/style.css' />
    <title><%= title %></title>
  </head>
  <body>
    <div id="send">
      <form>
        <select id="pos">
					<% for(var i = 0; i < pos.length; i++ ){ %>
					 <option value="<%= pos[i] %>"><%= pos[i] %></option>
					<% } %>
        </select>
        <select id="size">
					<% for(var i = 0; i < size.length; i++ ){ %>
					 <option value="<%= size[i] %>"><%= size[i] %></option>
					<% } %>
        </select>
        <select id="color">
					<% for(var i = 0; i < color.length; i++ ){ %>
					 <option value="<%= color[i] %>"><%= color[i] %></option>
					<% } %>
        </select>
        <textarea id="message"></textarea>
        <input type="submit" value="Send" />
      </form>
    </div>
    <ul id="logs">
    	<!-- ここに追加 -->
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="js/billboard.js"></script>
  </body>
</html>